@import url(/styles/style.css);

header{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(4, auto);
  grid-column: 1/-1;
  gap: 1rem;
  padding-top: 0.5rem;
}
header > img{
  grid-column: 2/4;
  width: 100%;
  margin: 1rem;
  place-self: center;
}

@media screen and (min-width: 900px) {

  header{
    margin-top: 1.5rem;
    grid-template-rows: repeat(2, auto);
    width: 100%;
    grid-column: 1/-1;
    gap: 3rem;
    padding-top: 1.5rem;
    place-items: center;
  }
  
  header > img{
    grid-column: 1/-1;
    grid-row: 1;
    width: 6.75rem;
    margin: 0;
  }

}

@media (prefers-color-scheme: dark) {
  header > img{
    filter: invert(1);
  }
}