.info{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  width: 100%;
  background: var(--cor-fundo-menu);
  border-radius: var(--botao-borda-suave);
  text-align: center;
  place-content: center;
  color: var(--cor-fonte-menu);
  padding: 1rem;
  gap: 0.5rem;
}

.info > h2{
  grid-row: 1;
  font-size: 2rem;
  font-weight: bold;
}

.info > p{
  font-size: 1rem;
  line-height: 1.3;
  grid-column: 1/-1;
  grid-row: 2;
}

.infoBotao {
  grid-row: 3;
  text-decoration: none;
  text-align: center;
  place-self: center;
  color: var(--cor-fundo-menu);
  background: var(--cor-botao);
  border-radius: var(--botao-borda-suave);
  padding: 1rem 2rem ;
  width: fit-content;
  height: fit-content;
}

.infoBotao:hover{
  background: var(--cor-botao-hover);
}

.bike{
  grid-column: 1/1;
  grid-row: 2;
  max-width: 100%;
  border-radius: var(--botao-borda-suave);
  object-fit: cover;
  object-position: top center;
}

@media screen and (min-width: 900px) {

  .info{
    text-align: right;
    place-content: right;
    padding: 1.5rem;
  }

  .info::before{
    content: "";
    width: 4rem;
    height: 0.25rem;
    position: absolute;
    top: 1.25rem;
    left: 47%;
    background: var(--cor-botao);
    display: inline-block;
    z-index: 99;
  }

  .infoBotao {
    grid-column: 1;
    place-self: end;
    color: var(--cor-fundo-menu);
  }

  .bike{
    grid-column: 2;
    grid-row: 1;
    max-width: 100%;
    border-radius: var(--botao-borda-suave);
  }
}

@media screen and (max-width: 1400px) {
  .bike{
    object-fit: cover;
    object-position: top center;
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .infoBotao {
    color: var(--cor-fonte-menu);
  }
}
